/.gitattributes             export-ignore
/.github/                   export-ignore
/.gitignore                 export-ignore
/.editorconfig              export-ignore
/phpunit.xml.dist           export-ignore
/test/                      export-ignore
/example/                   export-ignore
